<div class="panel panel-gradient-brick">
	<div class="panel-heading">
	  <div class="panel-title">Maintenance Requests
	  	<span class='pull-right'><%= link_to 'New Request', new_facility_maintenance_request_path, class: 'btn btn-xs btn-default' %></span>
	  </div>
	</div>
	<%= render 'maintenance_requests_index' %>
</div>