<section id="about-us">
  <div class='landing'>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-center">About Us</h2>
        <p>At Sani, we worked to build this site to help you solve your <b>biggest problem:</b> Going high tech at a low cost? Technology is wonderful. It makes life easier, or at least it should. But it shouldn't cost a fortune when your needs are so simple. That's why we at Sani put together a simple package of easy tools to help you better manage your business, and spend more of your resources caring about your clients.</p><br>

        <p class='about-us text-center'>"Simplicity is the key to brilliance." -- Bruce Lee</p>
      </div>
    </div>
  </div>
<section>