<section id="features">
  <div class="landing">
    <div class="row text-center">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">High Tech. Low Cost.</h2>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Productivity</h4>
        <p class="text-muted">Improve your productivity. Work faster, smarter, and stop fumbling around with paperwork.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Work Anywhere</h4>
        <p class="text-muted">Don't be chained to your office. Know all the intimate details whether you're at the office or not.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Security</h4>
        <p class="text-muted">Know that your information is safe. We are the gate keepers and only you hold the key.</p>
      </div>
    </div>
  </div>
</section>