<section id="pricing">
  <div class='landing'>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Pricing</h2>
        <p>$10.00 per facility, per month.</p>
        <p>$0.25 per unit, per month.
        <p>That would be only $15/month for a 20 unit facility.</p>
      </div>
    </div>
  </div>
<section>