<div class="panel panel-blue">
	<div class="panel-heading">
	  <div class="panel-title">Resident Applications (SAMPLE VIEW)</div>
	</div>
	
	<table class="table table-condensed table-striped table-hover table-responsive">
		<thead>
			<tr>
				<th>Name</th>
				<th>Move-In Date</th>
				<th>Phone</th>
				<th class='col-tb-75 text-right'>View&nbsp;</th>
			</tr>
		</thead>
	  <tbody>
		   	<tr>
		   		<td>Aurelie Terry PhD</td>
		   		<td>03/06/2016</td>
		   		<td>901-922-0182</td>
		   		<td class='text-right'><span class='btn btn-xs btn-default'>View</span></td>
		   	</tr>
		   	<tr>
		   		<td>Kaleb Spencer</td>
		   		<td>02/14/2016</td>
		   		<td>405-021-2177</td>
		   		<td class='text-right'><span class='btn btn-xs btn-default'>View</span></td>
		   	</tr>
		   	<tr>
		   		<td>Clemmie Littel</td>
		   		<td>02/20/2016</td>
		   		<td>881.454.7194</td>
		   		<td class='text-right'><span class='btn btn-xs btn-default'>View</span></td>
		   	</tr>
		   	<tr>
		   		<td>Emmanuelle Schneider II</td>
		   		<td>02/20/2016</td>
		   		<td>(408) 655-1306</td>
		   		<td class='text-right'><span class='btn btn-xs btn-default'>View</span></td>
		   	</tr>
	  </tbody>
	</table>
</div>