<tr id='unit-<%= u.options[:child_index] %>'>
	<td><%= u.input :number, label: false %></td>
	<td><%= u.input :occupancy, label: false, as: :select, collection: ['Private', 'Shared'], include_blank: false %></td>
	<td><%= u.input :active, label: false, as: :select %></td>
</tr>