input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.input-box {
	border: #ccc 1px solid;
	border-radius: 4px;
	line-height: 20px;
	padding: 6px 12px;
	background-color: #fff;
	width: 100%;
}

.sign-in-box {
  position: absolute;
  padding: 25px;
  width: 50%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid #333 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
