@import "mixins";

.panel-title {
  font-weight: bold;
  color: white;
  height: 22px;
  > a { color: black }
}

.panel-red      { @include panel-gradient(#6B0000, #AF370B);}
.panel-blue     { @include panel-gradient(#032146, #103D73);}
.panel-orange   { @include panel-gradient(#912700, #D4841C);}
.panel-green    { @include panel-gradient(#005112, #088423);}
.panel-babyblue { @include panel-gradient(#07666A, #2C8589);}
.panel-purple   { @include panel-gradient(#543E9C, #15054A);}

.btn-panel {
  color: #fff; 
  opacity: 1.0;
  &:hover { opacity: 0.7; color: #fff; }
}

.btn-danger { 
	@extend .btn-panel;
	@include gradients(#6B0000, #AF370B);
}
.btn-success { 
	@extend .btn-panel;
	@include gradients(#005112, #088423);
}
