table {
	#invoices { @media(max-width: 767px){
			overflow-x: auto;
			display: block;
			font-size: 0.8em;
		}
	}
	select { width: 100px; }
	.fixed { table-layout: fixed; }

}

.table-ultra-condensed thead>tr>th,.table-ultra-condensed tbody>tr>th,.table-ultra-condensed tfoot>tr>th,.table-ultra-condensed thead>tr>td,.table-ultra-condensed tbody>tr>td,.table-ultra-condensed tfoot>tr>td {
  padding: 1px
}

/* FIXED COLUMN WIDTHs */
th.col-tb-50 { width: 50px; }
th.col-tb-75 { width: 75px; }
th.col-tb-100 { width: 100px; }
th.col-tb-150 { width: 150px; }

input.responsive {
	@media(min-width: 768px) { width: 100px; }
	@media(max-width: 767px) { width: 70px; }
}