table {
	select { width: 100px; }
	.fixed {
  	table-layout: fixed;
  }
}
th.view { width: 75px; }
th.date { width: 100px; }

/* MAINTENANCE TABLE */
th.priority { width: 75px; }
th.location { width: 150px; }

/* INVOICES TABLE */
th.unit { width: 50px; }
th.amount { width: 75px; }
th.status { width: 100px; }
input.payment-amount { width: 100px; }
input.payment-date { width: 75px; }
	