<div class='menu'>
  <%= link_to 'Dashboard', residents_dashboard_path %>
  <%= link_to 'Contact Us', residents_contact_us_path %>
  <%= link_to 'Account Settings', '#' %>
  <%= link_to 'Sign Out', logout_path %>
</div>