<% content_for :content do %>
  <div class='employment-container'>
  	<div class='employment-content'>
	  	<%= image_tag 'logo.gif' %>

	  	<div class="panel panel-red panel-success">
	  		<div class="panel-heading">
	  		  <div class="panel-title text-center">Employment Application</div>
	  		</div>
  		  <div class='panel-body'>
			  	<span id='bootstrap-flash'><%= bootstrap_flash %></span>
			  	<%= yield %>
			  </div>
			</div>

	  </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>